.MovieResult .item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.MovieResult .info {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.MovieResult .info .button {
    margin-bottom: 0;
    align-self: flex-end;
}