.MovieList {
    width: 100%;
}

.MovieList .list-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.MovieList .header li {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.MovieList .list-title li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.25rem 1rem 0.25rem 1rem
}

.MovieList .list-title li .title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 0;
}
.MovieList .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.MovieList .stats span {
    padding-left: 1rem;
}

.MovieList .header div {
    width: 25%;
}

.MovieList .header strong {
    cursor: pointer;
    outline: none;
    user-select: none;
}

.MovieList .list {
    list-style-type: none;
    margin-left: 0;
    width: 80%;
}

.MovieList .list div:nth-child(even) .item {
    background-color: #e6e6e6;
}

.MovieList .list div+div .item {
    border-top: none;
}