.MovieResult .item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.MovieResult .info {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
}

.MovieResult .info .button {
    margin-bottom: 0;
    align-self: flex-end;
}

.MovieResult .more-info {
    display: flex;
    flex-direction: row;
}

.MovieResult .more-info img {
    width: 200px;
    height: 100%;
    margin: 0rem 1rem 1rem 1rem
}

.MovieResult .more-info .not-poster {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.MovieResult .more-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MovieResult .more-info .add-movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.MovieResult .more-info .optional a {
    padding-left: 1rem;
}

.MovieResult .more-info .category {
    margin-right: 1rem;
}

.MovieResult .more-info .button {
    margin-bottom: 0;
    width: 30%;
}