.MovieForm {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MovieForm .find-movie {
    width: 40%;
    margin-left: 1rem;
}

