.MovieList {
    width: 100%;
}

.MovieList .list {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.MovieList ul {
    list-style-type: none;
    margin-left: 0;
}

.MovieList ul .Movie {
    padding-top: 0.5rem;
} 