.Movie {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.Movie .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.Movie .info .info-item {
    width: 33%;
    text-align: center;
}

.Movie .info .info-item.title {
    text-align: left;
    padding-left: 1.5rem;
    cursor: pointer;
}

.Movie .info .title i {
    margin-right: 0.5rem;
}

.Movie .info .score {
    font-weight: bold;
    cursor: pointer;
}
.Movie .info .score:hover {
    text-decoration: underline;
}

.Movie .info select {
    width: 25%;
    margin-bottom: 0;
}

.Movie .button {
    margin-bottom: 0;
}

.Movie .button-group {
    margin-left: 1rem;
    margin-right: 1rem;
}

.Movie .credits-button {
    margin-bottom: 0.75rem;
}